.idea
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.vscode/
keys/mainnet
keys/staging/
**/rpc_whirlpools_client
**/rpc_yvaults_client
**/rpc_test_cpi_caller_client
**/rpc_raydium_client
**/rpc_meteora_client
**/rpc_farms_client
keys/localnet
hbb.json
usdh.json
yvaults.json
configs/localnet**
package-lock.json
.cargo/
*.code-workspace
yvaults-bot.json
bot.json
keypair.json
admin.json
src/*.js
.justfile
tests/*.js
.env
